<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--link rel="stylesheet" type="text/css" href="homepage.css"-->
</head>
<body>
    <header><h1>BASIC ELECTRICAL ENGINEERING</h1>  <hr></header>
    <nav style="text-align: right;">
        <a href="signin">SignIn</a> 
        <a href="signup">SignUp</a>
    </nav>
    <article>
        <!--img src="images/pradeepy3.jpg"-->
        <P class="sirname">YAMULA PRADEEP KUMAR</P>
        <p>Well Come To Home Page</p>
    </article>
</body>
</html>